<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />


<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->

<!--    <script>-->
<!--        $(function () {-->
<!--            $('[data-toggle="tooltip"]').tooltip()-->
<!--        })-->
<!--    </script>-->


</head>

<body>
<form method="post" th:action="@{/logout}">
    <div>
        <button class="btn logout" type="submit">Logout</button>
    </div>
</form>

<h1>Management System</h1>

<form th:action="@{search}">
    <input name="param" type="search" placeholder="enter text to search">
    <button class="btn logout" type="submit">Search</button>
</form>


<table class="user">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Enabled</th>
        <th>Role</th>
    </tr>
    <tr th:each="items: ${users}">
        <td><a th:text="${items.username}" th:href="@{/user/{id}(id=${items.id})}"></a></td>
        <td th:text="${items.password}"></td>
        <td th:text="${items.firstName}"></td>
        <td th:text="${items.lastName}"></td>
        <td th:text="${items.date}"></td>
        <td th:text="${items.enabled}? 'Active' : 'Inactive'"></td>
        <div th:each="items1: ${items.getRoles()}">
            <td th:text="${items1.name}"></td>
        </div>

    </tr>
</table>

<!--<div class="pagination">-->
<!--    <nav aria-label="Pagination" th:if="${users.totalPages gt 0}">-->
<!--        <ul class="pagination justify-content-end">-->
<!--            <li class="page-item disabled">-->
<!--                <a class="page-link" th:text="${'Total: ' + users.getTotalElements()}">Total</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${users.number eq 0} ? 'disabled'">-->
<!--                <a class="page-link" th:href="@{/?page={id}(id=${users.number lt 2 ? 1 : users.number})}">Previous</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${i eq users.number + 1} ? 'active'"-->
<!--                th:each="i : ${#numbers.sequence( users.number + 1, users.totalPages > 3 + users.number ? sensors.number + 3 : sensors.totalPages, 1)}">-->
<!--                <a class="page-link" th:href="@{/?page={id}(id=${i})}" th:text="${i}"-->
<!--                   th:title="${'Page '+ i}"></a>-->
<!--            </li>-->
<!--            <li class="page-item disabled" th:if="${users.number + 3 < users.totalPages}">-->
<!--                <a class="page-link" href="#">...</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${users.number + 1 eq users.totalPages} ? 'disabled'">-->
<!--                <a class="page-link" th:href="@{/?page={id}(id=${users.number + 2})}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

<!--</div>-->

<div sec:authorize="hasAuthority('ADMIN')">
    <input class="btn add" type="button" value="New" onclick="window.location.href = '/user/new'"/>
</div>




<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"-->
<!--        crossorigin="anonymous"></script>-->

</body>
</html>