<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<form method="post" th:action="@{/logout}">
    <div>
        <button class="btn logout" type="submit">Logout</button>
    </div>
</form>

<h1>Management System</h1>

<table class="user">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Enabled</th>
        <th>Role</th>
        <div sec:authorize="hasAuthority('ADMIN')">
            <th>Edit</th>
        </div>
    </tr>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.date}"></td>
        <td th:text="${user.enabled}? 'Active' : 'Inactive'"></td>
        <div th:each="items: ${user.getRoles()}">
            <td th:text="${items.name}"></td>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
            <td><a th:href="@{/user/{id}/edit (id=${user.id})}">Edit</a></td>
        </div>
    </tr>
</table>


<input class="btn cancel" type="button" value="Back" onclick="window.location.href = '/user'"/>

</body>
</html>