<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form method="post" th:action="@{/logout}">
    <div>
        <button>logout</button>
    </div>
</form>

<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Enabled</th>
        <th>Role</th>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <th>Edit</th>
        </div>
    </tr>

    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.date}"></td>
        <td th:text="${user.enabled}"></td>
        <td th:text="${user.roles}"></td>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td><a th:href="@{/user/{id}/edit (id=${user.id})}">Edit</a></td>
        </div>
    </tr>


</table>

<input type="button" value="Back" onclick="window.location.href = '/user'"/>

</body>
</html>